t.prefs_.set('color-palette-overrides',["!!COL!{bg_1.apple}!", "!!COL!{red.apple}!", "!!COL!{green.apple}!", "!!COL!{yellow.apple}!", "!!COL!{blue.apple}!", "!!COL!{magenta.apple}!", "!!COL!{cyan.apple}!", "!!COL!{dim_0.apple}!", "!!COL!{bg_2.apple}!", "!!COL!{br_red.apple}!", "!!COL!{br_green.apple}!", "!!COL!{br_yellow.apple}!", "!!COL!{br_blue.apple}!", "!!COL!{br_magenta.apple}!", "!!COL!{br_cyan.apple}!", "!!COL!{fg_1.apple}!"]);
t.prefs_.set('foreground-color', "!!COL!{fg_0.apple}!");
t.prefs_.set('background-color', "!!COL!{bg_0.apple}!");
t.prefs_.set('cursor-color', 'rgba(255,255,255,0.5)');
